@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-inter);
  --font-mono: var(--font-jetbrains-mono);
}

@theme {
  --color-bg: #030712;
  --color-bg-alt: #090d16;
  --color-surface: #0f172a;
  --color-border: #1e293b;
  --color-text: #f8fafc;
  --color-text-muted: #94a3b8;
  --color-accent: #f97316;
  --color-accent-2: #f59e0b;

  --radius-sm: 0.5rem;
  --radius-md: 0.75rem;
  --radius-lg: 1.25rem;
}

/* Ocultar barra de rolagem em navegadores (Windows/Chrome/Firefox/Edge) */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@layer base {
  html {
    scroll-behavior: smooth;
    background-color: #030712;
    color: #f8fafc;
  }
  body {
    background-color: #030712;
    color: #f8fafc;
    overflow-x: hidden;
  }
}